.card {
  margin: 2%;
  text-align: center;
  background-color: rgba(56,102,153,0.8);
  color: white;
}

#login, #registration{
  background-color: Transparent;
}

#popout{
  top: 100px;
  left: 40px;
  width: 300px;
  height: auto;
  position: absolute;
  z-index: 10;
  color: white;
}

#exit {
    background-color: Transparent;
    background-repeat:no-repeat;
    position: absolute;
    right:0;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
}

body{
  background-image: url(/mic.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: static;
}

h2{
  text-align: center;
}
#create-room{
  padding-top: 2%;
}

#overlay{
  margin: 2%;
}
#joining{
  padding:2%;
}
.errors{
  padding-left: 2%;
}
